.boxValue {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 2px solid #FFF200;
    border-radius: 10px;
}

.value {
    color: #FFF200;
    font-size: 14px;
    font-weight: 400;
}

.input {
    width: 90%;
    padding: 10px;
    border: 2px solid #FFF200;
    border-radius: 5px;
    background-color: #4f1d48;
    font-size: 18px;
    color: #FFF200;
    margin-top: 5px;
    text-align: center;
}

.error {
    background-color: #ff8da6;
    border: 2px solid #ff0034;
    color: #4f1d48;
}
