.button {
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    color: #4f1d48;
    padding: 10px 15px;
    background-color: #FFF200;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover,
.button:focus-visible {
    outline: 2px solid #FFF200;
    color: #FFF200;
    background-color: #742868;
}

.button:active {
    outline: none;
    color: #742868;
    background-color: #ffffcf;
}

.button[disabled] {
    opacity: 0.6;
    pointer-events: none;
}